:root {
  --6030b1: #6030b1;
  --5d3eff: #5d3eff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: #242424;
  line-height: 1.25;
  text-align: center;
}

p {
  line-height: 1.5;
  font-size: 1.6rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #242424;
  position: relative;
  transition: opacity 300ms ease;
}

.text-purple {
  color: var(--6030b1);
  display: inline-block;
}

.text-center {
  text-align: center;
}

.section-heading {
  font-size: 4rem;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 2rem;
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  bottom: -3px;
  right: 0;
  transition: all 300ms ease;
}

.link__hover-effect--white:after {
  background-color: #fff;
}
.link__hover-effect--black:after {
  background-color: #000;
}

.link__hover-effect:hover:after {
  width: 100%;
  left: 0;
}

@keyframes animate-wave {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes animate-profile-img {
  0% {
    transform: scale(0);
  }

  80% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
/* start nav */
nav {
  height: 100px;
  width: 100%;
  padding: 0 2rem;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--6030b1);
}

nav .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav .links li {
  margin: 0 1rem;
}

nav .links li a {
  color: #242424;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  padding: 1rem 0;
}

nav .links li .contact {
  background-color: var(--6030b1);
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 2rem;
  transition: all 0.3s ease-in-out;
}

nav .links li .contact:hover {
  background-color: var(--5d3eff);
  border: none;
}

@media (max-width: 576px) {
  .nav__links-hide {
    display: none;
  }
}
/* end nav */

/* start about section */
.about {
  min-height: calc(100vh - 100px);
  text-align: center;
}

.about .container {
  display: flex;
  flex-direction: column;
}

.about__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem;
  margin-bottom: 2rem;
}

.about__info .about__img-container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  animation: animate-profile-img 1s 200ms backwards;
}

.about__info .about__img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.5) translateY(20%);
}

.about__info-title {
  animation: fade-up 1s 200ms backwards;
}

.about__info p {
  font-size: 2rem;
  animation: fade-up 1s 300ms backwards;
}

.about__links {
  animation: fade-up 1s 400ms backwards;
}

.about__links a {
  font-size: 2rem;
  padding: 0 1.6rem;
}

.about__undraw-img-container {
  flex: 1;
  padding: 100px 0;
  animation: fade-in 1200ms 800ms backwards;
}

.about__undraw-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.animate-wave {
  display: inline-block;
  animation: animate-wave 500ms infinite ease-in-out;
}

/* end about section */

/* start skills */
.skills {
  padding: 2rem 0;
  background: #f8f8f8;
}

.skills h2 {
  font-size: 4rem;
}

.skills .skills__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 2rem;
}

.skills .skills__list li {
  position: relative;
  display: flex;
  justify-content: center;
}

.skills .skills__list li span {
  position: absolute;
  top: 100%;
  transform: scale(0);
  transition: all 0.3s ease-in-out;
}

.skills .skills__list li:hover span {
  transform: scale(1);
}

.skills .skills__list img {
  transition: all 0.3s ease-in-out;
}
.skills .skills__list img:hover {
  filter: brightness(80%);
  opacity: 0.86;
  transform: scale(0.9);
}
/* end skills */

/* start projects */
.projects {
  padding: 2rem 0;
}

.projects__list {
  padding: 2rem 0;
}

.projects__list li {
  transition: all 0.3s ease-in-out;
  position: relative;
  margin-bottom: 3rem;
}

.projects__list img {
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.project-img-wrapper {
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.project-img-wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1c1d25;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
}

.projects__list li:hover .project-img-wrapper:before {
  opacity: 0.7;
}

.projects__list li:hover img {
  transform: scale(1.07);
}

.projects__list .project__info {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(100%);
  transition: all 0.3s ease-in-out;
  z-index: 2;
  max-width: 550px;
  opacity: 0;
}

.projects__list li:hover .project__info {
  opacity: 1;
  transform: translateY(-50%);
}

.project__info-title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.project__info-para {
  font-size: 1.6rem;
  margin: 1rem 0;
}

.project__info-links a {
  font-size: 2rem;
  padding-right: 1rem;
}

.project__info-title,
.project__info-subtitle,
.project__info-para,
.project__info-links a {
  text-align: left;
  color: #fff;
}
/* end projects */

/* start footer */
footer {
  background-color: #242424;
  padding: 5rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.footer__links a {
  color: #fff;
  font-size: 1.8rem;
}
/* end footer */
